# Q1

###  Write a Python function that takes a list of numbers and return the Minimum number.

# Sol:

In [1]:
def find_minimum(numbers):
    return min(numbers)
numbers = [5, 2, 9, 1, 7]
minimum = find_minimum(numbers)
print("Minimum number:", minimum)

Minimum number: 1

# Q2

### Write a Python program to replace the last value of tuples in a list. Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)] 
Expected Output: [(10, 20, 1000), (40, 50, 1000), (70, 80, 1000)]

# Sol:

In [2]:
def replace_last_value(tuples_list, new_value):
    result = []
    for tup in tuples_list:
        new_tup = tup[:-1] + (new_value,)
        result.append(new_tup)
    return result

tuples_list = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
new_value = 1000
updated_list = replace_last_value(tuples_list, new_value)
print("Updated list:", updated_list)

Updated list: [(10, 20, 1000), (40, 50, 1000), (70, 80, 1000)]

# Q3

### Write a Python program to calculate the average value of the numbers in a given tuple of tuples.
tuples = ((1,2,3) , (4,5,6) , (15,3,8,)) ------>
Average= 15.666666666666666

# Sol:

In [3]:
def calculate_average(tuples):
    total_sum = 0
    count = 0
    for tup in tuples:
        for num in tup:
            total_sum += num
            count += 1
    average = total_sum / count
    return average

tuples = ((1,2,3), (4,5,6), (15,3,8))
average = calculate_average(tuples)
print("Average:", average)

Average: 5.222222222222222

# Q4

### Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.
lst = [0,1,2,3,4,5,6,7,8,9] ,
value = 4
,Expected result ---- > [(0, 4), (1, 3)]

# Sol:

In [4]:
def find_pairs(lst, value):
    pairs = []
    for i in range(len(lst)):
        for j in range(i+1,len(lst)):
            if lst[i] + lst[j] == value:
                pairs.append((lst[i], lst[j]))
    return pairs

lst = [0,1,2,3,4,5,6,7]
value = 4
result_pairs = find_pairs(lst,value)
print("Pairs:", result_pairs)

Pairs: [(0, 4), (1, 3)]

# Q5

### Write a ((function)) that capitalizes the first and fourth letters of a name.
Expected Result :  'python' -----> 'PytHon'

# Sol:

In [5]:
def capitalize_letters(name):
    if len(name) >= 4:
        capitalized_name = name[0].upper() + name[1:3] + name[3].upper() + name[4:]
        return capitalized_name
    else:
        return name

name = "python"
capitalized_name = capitalize_letters(name)
print("Capitalized Name:", capitalized_name)

Capitalized Name: PytHon

# Q6

### Write a ((function)) that given a sentence, return a sentence with the words reversed.
'I am home' --> 'home am I'

# Sol:

In [6]:
def reverse_sentence(sentence):
    words_list = sentence.split()
    reversed_words_list = words_list[::-1]
    reversed_sentence = " ".join(reversed_words_list)
    return reversed_sentence

sentence = "I am home"
reversed_sentence = reverse_sentence(sentence)
print("Reversed Sentence:", reversed_sentence)

Reversed Sentence: home am I

# Q7

### Write a function that checks whether a number is in a given range (inclusive of high and low)
Expected Result : 5 is in the range between 2 and 7

# Sol:

In [7]:
def check_range(number, low_limit , high_limit):
   if number >= low_limit and number <= high_limit:
       return True 
   else:
       return False 

number_to_check=5 
low_limit=2 
high_limit=7 
is_in_range=check_range(number_to_check , low_limit , high_limit) 
print(f"{number_to_check} is in the range between {low_limit} and {high_limit}: {is_in_range}")

5 is in the range between 2 and 7: True

# Q8

### Write a function that given a list of ints, return True if the array contains a 3 next to a 3 somewhere. hint (Function name -- > has_33)

has_33([1, 3, 3]) → True
has_33([1, 3, 1, 3]) → False
has_33([3, 1, 3]) → False

# Sol:

In [1]:
def has_33(nums):
    for i in range(len(nums)-1):
        if nums[i] == 3 and nums[i+1] == 3:
            return True
    
    return False