# Map, Filter, Reduce, and Lambda Expressions

# map function
The map function allows you to "map" a function to an iterable object. That is to say you can quickly call the same function to every item in an iterable, such as a list. For example:

In [1]:
lst1 = [1,2,3,4,5]
lst2 = []
for i in lst1:
    lst2.append(i ** 2)
print(lst2)

[1, 4, 9, 16, 25]

In [3]:
def square(num):
    return num**2
lst1 = [1,2,3,4,5]
lst2 = []
for i in lst1:
    lst2.append(square(i))
print(lst2)

[1, 4, 9, 16, 25]

In [2]:
def square(num):
    return num**2
my_nums = [1,2,3,4,5]
my_nums2 = map(square , my_nums)
list(my_nums2)

[1, 4, 9, 16, 25]

In [9]:
def myCal(x):
    return ((x*3)+10) * 40
my_nums = [1,2,3,4,5]
list(map(myCal , my_nums))

[520, 640, 760, 880, 1000]

In [14]:
lstStr = ['ali' , 'Ahmed' , 'Yousef']
for i in lstStr:
    print(i.upper())

ALI
AHMED
YOUSEF

In [13]:
lstStr = ['ali' , 'Ahmed' , 'Yousef']
lstStr2 = []
for i in lstStr:
    lstStr2.append(i.upper())
print(lstStr2)

['ALI', 'AHMED', 'YOUSEF']

In [4]:
def upperStr(string):
    return string.upper()
lstStr = ['ali' , 'Ahmed' , 'Yousef']
list(map(upperStr , lstStr))

['ALI', 'AHMED', 'YOUSEF']

# filter function
The filter function returns an iterator yielding those items of iterable for which function(item) is true. Meaning you need to filter by a function that returns either True or False. Then passing that into filter (along with your iterable) and you will get back only the results that would return True when passed to the function.

In [17]:
lst1 = [1,2,3,4,5,6,7,8,9,10]
lst2 = []
for i in lst1:
    if i%2 == 0:
        lst2.append(i)
print(lst2)

[2, 4, 6, 8, 10]

In [25]:
def checkEven(nums):
    return nums % 2 == 0
lst1 = [1,2,3,4,5,6,7,8,9,10]
lst2 = []
for i in lst1:
    if checkEven(i) == True:
        lst2.append(i)
print(lst2)

[2, 4, 6, 8, 10]

In [26]:
def checkEven(nums):
    return nums % 2 == 0
lst1 = [1,2,3,4,5,6,7,8,9,10]
list(filter(checkEven , lst1))

[2, 4, 6, 8, 10]

In [31]:
def dividedBy5(nums):
    return nums % 5 == 0
lst1 = [1,2,3,4,5,6,7,8,9,10]
list(filter(dividedBy5 , lst1))

[5, 10]

In [32]:
lst1 = range(1,50)
list(filter(dividedBy5 , lst1))

[5, 10, 15, 20, 25, 30, 35, 40, 45]

# Reduce

In [3]:
lst1 = [1,2,3,4,5,6,7,8,9,10]
sum = 0 
for i in lst1:
    sum +=i
print('sum= ', sum)

sum=  55

In [37]:
lst = range(1,100)
def sumFunc(nums):
    sum = 0
    for i in nums:
        sum +=i
    return sum
sumFunc(lst)

4950

In [39]:
from functools import reduce
def calSum(a,b):
    return a+b
lst = [1,2,3,4,5,6,7,8,9,10]
print('Sum= ',reduce(calSum,lst))

Sum=  55

In [42]:
from functools import reduce
def calMul(a,b):
    return a*b
lst = [1,2,3,4,5]
print('Sum= ',reduce(calMul,lst))

Sum=  120

In [43]:
# Check Bigger

In [4]:
from functools import reduce
def checkBigger (a,b):
    return a if a>b else b
lst = [10,20,30,500,5,110]
print(reduce(checkBigger,lst))

500

In [58]:
from functools import reduce
myNums = range(1,101)
def checkOdd(n):
    return n % 2 != 0
def powerFunc(n):
    return n**2
def calSum(a,b):
    return a+b
print('checkOdd= ',list(filter(checkOdd,myNums)))
print('Power= ', list(map(powerFunc,myNums)))
print('Sum= ', reduce(calSum,myNums))

checkOdd=  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]
Power=  [1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]
Sum=  5050

# Lambda

In [59]:
def square(num):
    result = num **2 
    return result

In [60]:
square(100)

10000

In [61]:
def square(num):
    return num **2 
square(100)

10000

In [62]:
def square(num):return num **2 
square(100)

10000

In [63]:
# This is the form a functin that a lambda intends to replicate

In [69]:
# You wouldn't usually assign a name to a lambda expression, this is just for demonstration!
square2 = lambda num : num**2

In [68]:
square2(10)

100

In [6]:
from functools import reduce
myNums = range(1,101)
print('checkOdd= ',list(filter(lambda n : n % 2 != 0 ,myNums)))
print('Power= ', list(map(lambda n : n**2 ,myNums)))
print('Sum= ', reduce(lambda a,b : a+b,myNums))

checkOdd=  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]
Power=  [1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]
Sum=  5050

# List Comprehensions

## Example 1

In [2]:
# Grab every letter in string
lst = [x for x in 'word']

In [3]:
# Check
lst

['w', 'o', 'r', 'd']

## Example 2

In [4]:
# Square numbers in range and turn into list
lst = [i ** 2 for i in range(11)]

In [5]:
# Check
lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Example 3
Let's see how to add in if statements:

In [6]:
# Check for even numbers in a range
lst = [x ** 2 for x in range(11) if x % 2 == 0]

In [7]:
# Check
lst

[0, 4, 16, 36, 64, 100]

## Example 4
Can also do more complicated arithmetic:

In [8]:
# Convert Celsius to Fahrenheit
celsius = [0,10,20.1,34.5]
fahrenheit = [((9/5)*temp + 32) for temp in celsius ]

In [9]:
# Check
fahrenheit

[32.0, 50.0, 68.18, 94.1]